html {background-color: peachpuff;}

A {color: lawngreen}

ol {color: red}

h1{background-color: rgb(204, 7, 138); color: rgb(255, 24, 189); font-weight: normal;}

P { color: rgb(114, 5, 114)}

p {background-color:cornsilk;
padding: 20px; 
margin: 50px;
font-size: 8px;

}

IMG {display: Block;margin-left: auto;margin-right: auto;
width: 50%;
}

#beyonce { width: 30%; }