html {background-color: peachpuff;}

A {color: lawngreen}

UL {color: red}

h1{background-color: rgb(19, 32, 113); color: rgb(82, 172, 172); font-weight: normal;}

P { color: rgb(114, 5, 114)}

p {background-color:cornsilk;
padding: 20px; 
margin: 50px;
font-size: 8px;

}

IMG {display: Block;margin-left: auto;margin-right: auto;
width: 50%;
}
