html {background-color: peachpuff;}

A {color: lawngreen}
A:hover {background-color: blueviolet;}

ol {color: red}
ol:hover {background-color: purple;}
h1{background-color: rgb(204, 7, 138); color: rgb(255, 24, 189); font-weight: normal;}

P { color: rgb(114, 5, 114)}

p {background-color:cornsilk;
padding: 20px; 
margin: 50px; 
font-size: 8px;

}
IMG {display: Block;margin-left: auto;margin-right: auto;
width: 50%;
}

#beyonce { width: 30%; }

.highlight_01 {background-color:rgb(145, 212, 20);}
.highlight_01 strong {background-color:chartreuse}
.highlight_02 {background-color:aquamarine;}
#main {background-color: azure; padding:50px; margin: 100px;
box-shadow: #fff 0 -1px 4px,#ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 44px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
#gallery { display: flex; flex-wrap: wrap; align-items: flex-start; row-gap: 30px;column-gap: 50px;}
#gallery IMG {width:300px}
#gallery DIV {background-color: #c1fffd8b}